<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Candidate</h1>
    </div>
    <div class="col-md-6 wrapper">
      <%= link_to "Create Candidate", candidates_path, method: :post, class: "pull-right btn btn-default" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <% candidate = @candidate.data %>
      <h1><%= candidate["name"] %></h>
      <% candidate.each do |k, v| %>
        <p><strong><%= k %>: </strong><%= v %></p>
      <% end %>
    </div>
  </div>
</div>